/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

# The Bundler lockfile should not be cached because its contents is arch-dependent
Gemfile.lock
.DS_Store
gcs_creds.json

